

<launch>
    <arg name="webcam_id"         default="1" />
    <arg name="image_height"      default="480" />
    <arg name="image_width"       default="640" />
    <arg name="image_topic"       default="image_raw" />
    <arg name="camera_info_topic" default="camera_info" />

    <node name="webcam_publisher" pkg="webcam_publisher" type="webcam_publisher.py">
        <param name="webcam_id"         type="int" value="$(arg webcam_id)" />
        <param name="image_height"      type="int" value="$(arg image_height)" />
        <param name="image_width"       type="int" value="$(arg image_width)" />
        <param name="image_topic"       type="str" value="$(arg image_topic)" />
        <param name="camera_info_topic" type="str" value="$(arg camera_info_topic)" />
    </node>
</launch>