<launch>
    <arg name="image_topic"      default="/carla/ego_vehicle/camera/rgb/front/image_color" />
    <arg name="frame_id"         default="ego_vehicle/camera/rgb/front" />
    <arg name="object_topic"     default="/carla/ego_vehicle/camera/rgb/front/detected_objects" />
    <arg name="object_vis_topic" default="/carla/ego_vehicle/camera/rgb/front/image_objects" />
    <arg name="lane_topic"       default="/carla/ego_vehicle/camera/rgb/front/detected_lanes"   />
    <arg name="result_topic"     default="/carla/ego_vehicle/camera/rgb/front/image_parsed"   />

    <include file="$(find object_detector)/launch/object_detector.launch">
        <arg name="input_image_topic" value="$(arg image_topic)"  />
        <arg name="result_topic"      value="$(arg object_topic)" />
    </include>

    <include file="$(find lane_detector)/launch/lane_detector.launch">
        <arg name="input_image_topic" value="$(arg image_topic)" />
        <arg name="result_topic"      value="$(arg lane_topic)"  />
    </include>

    <include file="$(find drive_scene_parser)/launch/drive_scene_parser.launch">
        <arg name="object_topic" value="$(arg object_topic)" />
        <arg name="lane_topic"   value="$(arg lane_topic)"   />
        <arg name="result_topic" value="$(arg result_topic)" />
        <arg name="frame_id"     value="$(arg frame_id)"     />
    </include>
</launch>