<launch>
    <arg name="camera_frame"        default="camera0" />
    <arg name="image_topic"         default="/$(arg camera_frame)/image_raw" />
    <arg name="info_topic"          default="/$(arg camera_frame)/camera_info" />
    <arg name="object_topic"        default="/$(arg camera_frame)/detected_objects" />
    <arg name="object_vis_topic"    default="/$(arg camera_frame)/image_objects" />
    <arg name="lane_topic"          default="/$(arg camera_frame)/detected_lanes"   />
    <arg name="result_topic"        default="/$(arg camera_frame)/image_parsed"   />
    <arg name="lidar_frame"         default="os_sensor" />
    <arg name="freespace_topic"     default="/os_cloud_node/freespace" />
    <arg name="freespace_vis_topic" default="/os_cloud_node/freespace_vis" />

    <node pkg="tf"  type="static_transform_publisher" name="$(arg camera_frame)_to_camera1" args="-0.3 -0.1 0.0 0.1 -0.3 0.0 /camera1 /$(arg camera_frame) 10" />

    <include file="$(find object_detector)/launch/object_detector.launch">
        <arg name="weights"            value="yolov5s.pt" />
        <arg name="name"               value="$(arg camera_frame)"  />
        <arg name="input_image_topic"  value="$(arg image_topic)"  />
        <arg name="output_image_topic" value="$(arg object_vis_topic)" />
        <arg name="result_topic"       value="$(arg object_topic)" />
    </include>

    <include file="$(find drive_scene_parser)/launch/drive_scene_parser.launch">
        <arg name="camera_topic"      value="$(arg image_topic)" />
        <arg name="camera_info_topic" value="$(arg info_topic)" />
        <arg name="object_topic"      value="$(arg object_topic)" />
        <arg name="lane_topic"        value="" />
        <arg name="freespace_topic"   value="$(arg freespace_vis_topic)" />
        <arg name="result_topic"      value="$(arg result_topic)" />
        <arg name="frame_id"          value="$(arg camera_frame)" />
        <arg name="mask_img"          value="mask_$(arg camera_frame).png" />
    </include>
</launch>
