

<launch>
    <arg name="image_dir"         default="/home/taehoon1018/Downloads/save_imgs" />
    <arg name="image_height"      default="480" />
    <arg name="image_width"       default="640" />
    <arg name="image_topic"       default="camera1" />
    <arg name="publish_rate"      default="30" />

    <node name="image_publisher" pkg="image_publisher" type="image_publisher.py">
        <param name="image_dir"         type="str" value="$(arg image_dir)" />
        <param name="image_height"      type="int" value="$(arg image_height)" />
        <param name="image_width"       type="int" value="$(arg image_width)" />
        <param name="image_topic"       type="str" value="$(arg image_topic)" />
        <param name="publish_rate"      type="int" value="$(arg publish_rate)" />
    </node>
</launch>