

<launch>
    <arg name="camera_topic"      default="/camera1/image_raw" />
    <arg name="camera_info_topic" default="/camera1/camera_info" />
    <arg name="object_topic"      default="/camera1/detected_objects" />
    <arg name="lane_topic"        default="/camera1/detected_lanes" />
    <arg name="freespace_topic"   default="" />
    <arg name="result_topic"      default="/camera1/image_parsed" />
    <arg name="frame_id"          default="camera1" />
    <arg name="mask_img"          default="" />
    
    <node name="drive_scene_parser" pkg="drive_scene_parser" type="drive_scene_parser.py">
        <param name="camera_topic"      type="str" value="$(arg camera_topic)" />
        <param name="camera_info_topic" type="str" value="$(arg camera_info_topic)" />
        <param name="object_topic"      type="str" value="$(arg object_topic)" />
        <param name="lane_topic"        type="str" value="$(arg lane_topic)" />
        <param name="freespace_topic"   type="str" value="$(arg freespace_topic)" />
        <param name="result_topic"      type="str" value="$(arg result_topic)" />
        <param name="frame_id"          type="str" value="$(arg frame_id)" />
        <param name="mask_img"          type="str" value="$(arg mask_img)" />
    </node>
</launch>
